################################################################################
#
#    Licensed to the Apache Software Foundation (ASF) under one or more
#    contributor license agreements.  See the NOTICE file distributed with
#    this work for additional information regarding copyright ownership.
#    The ASF licenses this file to You under the Apache License, Version 2.0
#    (the "License"); you may not use this file except in compliance with
#    the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
#
################################################################################

# Root logger. Change the level to one of the following values: DEBUG, INFO, WARN, ERROR.
log4j.rootLogger=INFO, out, stdout, osgi:*
log4j.throwableRenderer=org.apache.log4j.OsgiThrowableRenderer

# Specific log levels overrides
log4j.logger.org.oxymores = DEBUG
log4j.logger.org.apache.activemq = WARN
log4j.logger.com.eclipsesource = DEBUG
log4j.logger.org.apache.felix.scr = DEBUG
log4j.logger.hsqldb = WARN
log4j.logger.org.apache.bval = WARN
log4j.logger.org.ops4j = WARN
log4j.logger.org.hibernate.validator = INFO
log4j.logger.net.fortuna.ical4j = WARN
log4j.logger.org.apache.kahadb = WARN
log4j.logger.org.sql2o = INFO
log4j.logger.shaded.org.eclipse.aether = WARN
log4j.logger.shaded.org.apache.http = WARN
log4j.logger.org.apache.aries.blueprint = INFO

# Console appender
log4j.appender.stdout=org.apache.log4j.ConsoleAppender
log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
log4j.appender.stdout.layout.ConversionPattern=%d{ISO8601} | %-5.5p | %-16.16t | %-35.35c{3} | %-10X{node} | %X{bundle.id} %-15.15X{bundle.name} %-7.7X{bundle.version} | %m%n

# File appender
log4j.appender.out=org.apache.log4j.RollingFileAppender
log4j.appender.out.layout=org.apache.log4j.PatternLayout
log4j.appender.out.layout.ConversionPattern=%d{ISO8601} | %-5.5p | %-16.16t | %-35.35c{3} | %-10X{node} | %X{bundle.id} %-15.15X{bundle.name} %-7.7X{bundle.version} | %m%n
log4j.appender.out.file=./log/chronix.log
log4j.appender.out.append=true
log4j.appender.out.maxFileSize=1MB
log4j.appender.out.maxBackupIndex=10
