/* JQuery-ui overloads */
.ui-tabs .ui-tabs-panel
{
    padding-top: 0px;
}

/* Generic drawing panel items */
.dn
{
    position: absolute;
}

.dn-smalltext
{
    font-size: 9pt;
}

.drawingPanel
{
    position: relative;
}

.drawingPanel-selected
{
    border: 2px dashed red !important;
}

.anchor
{
    font-size: 7pt;
    border-style: groove;
    border-width: 1px;
    padding: 1px;
}

.arrow1
{
    color: red;
}

.arrow2
{
    color: blue;
}

/* Generic paeltte items */
.palette
{
    background-color: #dad8d8;
}

.palette-header
{
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.palette-helper-text
{
    font-size: 10pt;
    font-style: italic;
}

/* Execution nodes */
.execnode
{   
    border: solid black 1px;
    width: 8em;
    min-height: 2em;
    text-align: center;
    background-color: #0086B3;
}

.execnode-console
{
    background-color: #ffff99;
}

/* Tables */
.selected-table-row
{
    background-color: lightblue !important;
}

td.current, td.highlight
{
    background-color: #E0FFFF;
}