.execnode
{
    position: absolute;
    border: solid black 1px;
    min-width: 8em;
    min-height: 2em;
    text-align: center;
    background-color: #0086B3;
}

.drawingPanel
{
    position: relative;
}

.execnode-console
{
    background-color: #ffff99;
}

.ui-tabs .ui-tabs-panel
{
    padding-top: 0px;
}