/* JQuery-ui overloads */
.ui-tabs .ui-tabs-panel
{
    padding: 0px;
}

body
{
    margin: 0px;
    font-size: 14px;
}

.ui-tabs
{
    padding: 0px;
}

.ui-tabs .ui-tabs-nav
{
    padding: 0px;
}

/* Horizontal tabs */
.tabs-min {
    background: transparent;
    border: none;
}

.tabs-min  > .ui-widget-header {
    background: transparent;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    border-radius: 0px;
}
.tabs-min > .ui-tabs-nav > .ui-state-default {
    background: transparent;
    border: none;
}
.tabs-min > .ui-tabs-nav > .ui-state-active {
    background: transparent url(uiTabsArrow.png) no-repeat bottom center;
    border: none;
}
tabs-min > .ui-tabs-nav > .ui-state-default a {
    color: #c0c0c0;
}
tabs-min > .ui-tabs-nav > .ui-state-active a {
    color: #459e00;
}

/* Vertical tabs */
.tabs-left
{
    position: relative;
    padding-left: 10em;
    background: transparent;
    border: none;
}

.tabs-left .ui-widget-header
{
    background: transparent;
    border: none;
    border-right: 1px solid #c0c0c0;
    border-radius: 0px;
}

.tabs-left .ui-tabs-nav
{
    position: absolute;
    left: 0.25em;
    top: 0;
    bottom: 0.25em;
    width: 9em;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0.5em;
}
.tabs-left .ui-tabs-nav li
{
    right: 1px;
    width: 100%;
    border: none;
    overflow: hidden;
}

.tabs-left > .ui-tabs-nav > .ui-state-default {
    background: transparent;
    border: none;
}

.tabs-left > .ui-tabs-nav > .ui-state-active {
    background: transparent url(uiTabsArrowLeft.png) no-repeat left center;
    border: none;
}

.tabs-left .ui-tabs-nav li a
{
    float: right;
    width: 100%;
    text-align: right;
}

.tabs-left > div
{
    height: 35em;
}

.tabs-left > .ui-tabs-nav > li > .ui-tabs-anchor
{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 0.5em;
    padding-left: 0px;
}

/* Generic drawing panel items */
.dn
{
    position: absolute;
}

.dn-smalltext
{
    font-size: 9pt;
}

.drawingPanel
{
    position: relative;
}

.drawingPanel-selected
{
    border: 2px dashed red !important;
}

.anchor
{
    font-size: 7pt;
    border-style: groove;
    border-width: 1px;
    padding: 1px;
}

.arrow1
{
    color: red;
}

.arrow2
{
    color: blue;
}

/* Generic paeltte items */
.palette
{
    background-color: #dad8d8;
}

.palette-header
{
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.palette-helper-text
{
    font-size: 10pt;
    font-style: italic;
}

.palette > .block
{
    padding: 3px;
}

.palette > .visibleblock
{
    padding: 3px;
    border: 1px solid black;
}

.palette > div > button
{
    font-size: 10pt;
    font-style: italic;
    width: 100%;
    border: none;
    background-color: #c2c1c1;
}

.palette > div > div > button
{
    font-size: 10pt;
    font-style: italic;
    width: 45%;
    border: none;
    background-color: #c2c1c1;
}

/* Execution nodes */
.execnode
{
    border: solid black 1px;
    width: 8em;
    min-height: 2em;
    text-align: center;
    background-color: #0086B3;
}

.execnode-console
{
    background-color: #ffff99;
}

/* Tables */
.selected-table-row
{
    background-color: lightblue !important;
}

td.current, td.highlight
{
    background-color: #E0FFFF;
}

/* Menus */
.ui-menu
{
    min-width: 10em;
}

/* Error table */

.errortable
{
    border-collapse: collapse;
    border: 1px black solid;
}

.errortable > tbody > tr > td
{
    border: 1px black solid;
    padding: 2px;
}

.errortable > thead > tr > th
{
    border: 1px black solid;
    padding: 2px;
}

/* Misc */
.smallpanel
{
    margin-bottom: 5px;
}

table.dataTable tbody tr.ok-row
{
    background-color: #B2E0C2;
}
table.dataTable tbody tr.ko-row
{
    background-color: #FF8080;
}


table.dataTable tbody tr.selected
{
    background-color: #B0BED9;
}